#categories
  ul
    margin: 20px 20px
  a
    line-height: 2em
    background: color-background
    color: color-grey
    text-decoration: none
    text-transform: uppercase
    &:hover
      background: color-link
      color: #fff
      text-decoration: none
      text-shadow: 0 1px darken(color-link, 20%)
